*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    
    font-family: Helvetica, sans-serif;
    background-image: linear-gradient(315deg, #c73e1d 0%, #ffaa80 27%, #00cccc 80%);
}
.banner{
    display: inline;
}
.bannerimg img{
    filter: brightness(40%);
    position: relative;
    z-index: -1;
}
.bannertext{
    text-transform: uppercase;
    line-height: 1.5;
    position: absolute;
    color: #fff;
    top: 38%;
    left: 7.5%;
    font-size: 4vw;
}
.bannertext span{
    font-weight: bold;
    color: #ff9a80;
}

#wrapper{
    width: 85%;
    margin: auto;
    
}
#wrapper > h1,h2 {
    text-align: center;
}
#wrapper > h2{
    padding-bottom: 20px;
}
#wrapper > h1{
    padding-top: 20px;
    padding-bottom: 15px;
}
.bodycontent div{
    display: inline;
    width: 33%;
    float: left;
    clear: none;
    font-size: 1.2em;
}
.bodycontent > h1{
    font-size: 2.2vw;
    margin-bottom: 20px;
}
.ingredients ul li {
    list-style-type: none;
    padding: 5px;
}
.ingredients > h3{
/*    padding-top: 20px;*/
    padding-bottom: 10px;
    margin-top: 0px;
}
table{
    border-collapse: collapse;
    width: 75%;
}
.bodytable td, .bodytable th{
    border: 1px solid #111;
    padding: 8px;
}
.bodytable tr:nth-child(odd){
    background-color: #ffddcc ;
}
.bodytable tr:nth-child(even){
    background-color: #ccffff;
}
.bodytable tr:hover {
    background-color: #ddd;
}
.bodytable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#ffaa80;
    
}
.bodytext{
    
    font-size: 1.3em;
    line-height: 35px;
}
.bodytext h3{
   margin-top: 20px;
}
.bodyimg img{
    border-radius: 3%;
}

#whiteBg{
    margin: 30px 10px;
    background-color: #eee;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}
#openbutton{
    background: white;
    border: none;
    color: #ffaa80;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}
#openbutton:hover{
    color: #3ac6cd;
}

#more {
    padding: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#more > button{
    background-color: #00cccc;
    border: 3px solid #222;
    border-radius: 10px;
    margin-left: 20px;
    padding: 0px 15px;
    font-size: 1.5em;
    color: #000;
    transition: background-color,border 0.5s;
}
#more > h2{
    padding: 0px;
    line-height: 2.2;
    
}
#more > button:hover{
    cursor: pointer;
    text-decoration-style: underline;
    background-color : aquamarine;

}

.experts{
    margin: 0px;
    text-align: center;
    display: flex;   
   
}
#expert1, #expert2 , #expert3{
    width: 100%;
    
    line-height: 1.5;
    padding-bottom: 0px;
}
#expertBg{
    width: 33%;
    margin: 10px 10px 50px 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;   
    transition: margin 1s;
}
#expertBg:hover{
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.22), 0 16px 20px 0 rgba(0, 0, 0, 0.29);
    margin: 0px 10px 60px 10px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: white;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: 900;
    background-color: #ffaa80;
    margin-top: 0;
    height: 140px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    
}
.logo h4{
    margin-top: 70px;
    text-align: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 60%;   
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #ffaa80;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links a:hover{
    color:#3ac6cd
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: #ffaa80;
    margin: 5px 5px 5px 250px;
    transition: all 0.3s ease;
}



/*   footer     */
footer{
    background-color: #3ac6cd;
    width: 100%;
}

.footercontainer{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.footercontainer > h3{
    line-height: 1;
    margin-bottom: 15px;
}
.footerdiv1, .footerdiv2, .footerdiv3, .footerdiv4{
        float: left;
        padding-left: 160px;
        height:220px;
        width:22%;
        margin: 0px;
        background-color: #3ac6cd;
        line-height: 2;
        color: #fff;
        text-decoration: none;
        text-align: left;  
} 
a:link{
    text-decoration: none;
    
}
a{
    color: #f2f2f2;
}
.footerdiv2 p{
    text-align: left;
}
.footerdiv3 {
    line-height: 2 ;
}
.footercontainer img{
    
    margin: 0px 10px;
    float: left;
}
.footerdiv2 a:hover{
    color: #222;
}

.footerdiv3 img{
    border-radius: 60%;
}

footer p{
    font-size: 15px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.overlay{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.closebtn{
    position: absolute;
    top:20px;
    right:45px;
    font-size: 60px;
    cursor: pointer;
    color: #fff;
}


@media only screen and (max-width: 768px){
    .logo{
        height: 90px;
        width: 110px;
        font-size: 25px;
    }
    .logo h4{
        margin-top: 40px;
        text-align: center;
    }
    .nav-links{
       position: absolute;
        right: 0px;
        height: 330px;
        top: 8vh;
        background: rgb(0,204,204,0.7);
        box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
        
    }
     .nav-links li{
         margin-top: 15px;
        margin-bottom: 15px;

    } 
    .nav-links a{
        color: white;
    }
    .nav-links a:hover{
        color: #ffaa80
    }
    .burger{
        display: block;
    }
    .line1,.line2,.line3{
        color: #ffaa80;
    }
    #openbutton{
        background: none;
        color: white;
        padding-bottom: 10px;
        margin-top: 10px;
        outline: none;
    }
    #openbutton:hover{
        color: #ffaa80;
    }
    .banner img{
        z-index: -2;
    }
    

    .bannertext{
        font-size: 1.4em;
        z-index: -1;
       top: 30%;
        left: 11.5%;

    }
    #wrapper{
        width: 78%;
    }
    h1{
        font-size: 1.4em;
    }
    #whiteBg{
    margin: 20px 0px;
    background-color: #eee;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .bodycontent div{
        display: block;
        width: 100%;
        
        font-size: 1em;
}
    .bodycontent h1{
    font-size: 1.3em;
}
    .bodytable table{
        width: 83%;
        margin: 20px auto;

    }
    .bodyimg{
        padding:  50px;
/*        margin-bottom: 10px;*/
    }
    .bodytext > h3{
        font-size: 1em;
    }
    .bodytext > p{
        font-size: 0.9em;
    }
    #more > button{
        font-size: 1.2em;
        padding: 5px 10px;
        margin-left: 5px;
    }
    .experts{
        flex-direction: column;
        padding-bottom: 30px;
    }
    #expert1, #expert2 , #expert3{
    width: 100%;
    line-height: 1.5;
    padding-bottom: 0px;
    }    
    #expertBg{
    width: 80%;
    margin: 10px auto;
    transition: none;
    }
    #expertBg:hover{
        margin: 10px auto;
    } 
    
    /*footer*/

    footer{
        margin-top: 2px;
        background-color: #3ac6cd;
        width: 100%;
    }
    
    .footercontainer{
        display: inline-block;
        width: 100%;
        padding-top: 30px;
        
    }
    h3{
        line-height: 1;
        margin-bottom: 15px;
    }
    .footerdiv1, .footerdiv2, .footerdiv3, .footerdiv4{
            /* float: left; */
            padding-left: 13%;
            /* padding-right: 5%; */
            height: 230px;
            width:50%;
            background-color: #3ac6cd;
            line-height: 2;
            color: #fff;
            text-decoration: none;
            text-align: left;
            margin-bottom: 20px;  
    } 

    .footerdiv3, .footerdiv4{
        height: 150px;
    }
    
    footer p{
        text-align: center;
        color: white;
        font-size: 15px;
    }  
} 


    .nav-active{
    transform: translateX(0%);
    }
     
    
    @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




